html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5715;
	background: #f7f7f7;
	font-family: 'Roboto', sans-serif, 'Segoe UI','Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-variant: tabular-nums;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	color: #000;
	text-decoration: none
}

a:hover {
	text-decoration: none
}

input:focus {
	outline: none;
}

.link {
	color: #409EFF;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.el-icon {
	font-size: 14px !important;
}

/* 绝对定位居中 */
.absolute-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.iconfont {
	vertical-align: middle;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.page-container {
	padding-top: 9rem;
}

.layout-padding {
	padding: 15px;


	&-view {
		background-color: #fff;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		border: 1px solid #ebeef5;
		padding: 20px;
		
		.el-card__body{
			padding: 0;
		}

		.card-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;

			.title {
				font-size: 2rem;
				font-weight: 500;
			}
		}

		.query {
			display: flex;

			.el-form-item {
				margin-left: 0px;
				margin-right: 5px;
				margin-bottom: 0;
			}
		}

		.el-table {
			height: calc(100vh - 285px);
		}

		@media only screen and (max-width: 991px) {
			.card-header {
				flex-direction: column;
				height: auto;
				align-items: flex-start;
			}

			.query {
				margin-top: 10px;
				display: flex;
				flex-direction: column;

				.el-form-item {
					margin-bottom: 10px;
				}
			}

			.el-table {
				width: calc(100vw - 90px);
			}
		}

		.el-table thead{
			font-family: 700;
			color: #000;
		}
		.el-table--large .cell {
			font-size: 16px;
			padding: 0 10px;
		}
	}

	@media only screen and (max-width: 991px) {
		&-view {
			padding: 10px;
		}
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}

.price-tag {
	background-color: #ff545f;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 8px;
	position: relative;
}

.price-tag::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #ff545f;
}
.price-black {
	background-color: #000;
}
.price-black::after {
	border-top: 8px solid #000;
}
.page-wrap {
	width: 100%;
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;

	.el-pagination.is-background .el-pager li {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $borderColor;
	}

	.el-pagination.is-background .btn-prev {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $borderColor;
	}

	.el-pagination.is-background .btn-next {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $borderColor;
	}

	.el-pagination.is-background .el-pager li.is-active {
		background-color: #ff545f;
		border: 1px solid #ff545f;
	}
}

.el-form--label-top .el-form-item .el-form-item__label {
	font-weight: 700 !important;
}
.message-box-custom{
	width: 450px!important;
	max-width: 450px!important;
}
// @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
